<%= link_to "Soma", soma_path %>
<%= link_to "Subtração", subtracao_path %>
<%= link_to "Divisão", divisao_path %>
<%= link_to "Multiplicação", multiplicacao_path %>

<h1>Number 1 = <%= @number1%></h1>
<h1>Number 2 = <%= @number2%></h1>
